<a href="https://colab.research.google.com/github/SUNITHA123-THUMMA/Form-validations-/blob/main/week-07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                        **WEEK-07**
ID NO:N180091

NAME:T.Sunitha

DATE:14-07-2022

1. Take this dataset and What would happen if we wanted to try and
compute the mean of numbers?

df = pd.DataFrame({&quot;numbers&quot;: [&quot;#23&quot;, &quot;#24&quot;, &quot;#18&quot;, &quot;#14&quot;, &quot;#12&quot;, &quot;#10&quot;, &quot;#35&quot;],

&quot;nums&quot;: [&quot;23&quot;, &quot;24&quot;, &quot;18&quot;, &quot;14&quot;, np.nan, &quot;XYZ&quot;, &quot;35&quot;],

&quot;colors&quot;: [&quot;green&quot;, &quot;red&quot;, &quot;yellow&quot;, &quot;orange&quot;, &quot;purple&quot;, &quot;blue&quot;, &quot;pink&quot;],

&quot;other_column&quot;: [0, 1, 0, 2, 1, 0, 2]})

It throws an error!
Can you figure out why?
Hint
When looking at error messages, start at the very bottom.

String Methods
Our solution to the previous exercise was to remove the # by using
the replace string method: int(c2n.replace(&quot;#&quot;, &quot;&quot;)).

In [12]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"numbers": ["#23", "#24","#18","#14","#12", "#10", "#35"],
"nums": ["23","24","18","14", np.nan,"XYZ","35"],
"colors": ["green", "red", "yellow","orange","purple","blue", "pink"],
"other_column": [0, 1, 0, 2, 1, 0, 2]})
print(df)

  numbers nums  colors  other_column
0     #23   23   green             0
1     #24   24     red             1
2     #18   18  yellow             0
3     #14   14  orange             2
4     #12  NaN  purple             1
5     #10  XYZ    blue             0
6     #35   35    pink             2

In [13]:
df['numbers'] = df['numbers'].str.replace('#','0')
print(df)

  numbers nums  colors  other_column
0     023   23   green             0
1     024   24     red             1
2     018   18  yellow             0
3     014   14  orange             2
4     012  NaN  purple             1
5     010  XYZ    blue             0
6     035   35    pink             2

2. Type Conversions
In our example above, the dtype of the numbers_str column shows that pandas
still treats it as a string even after we have removed the &quot;#&quot;.

 We need to convert this column to numbers.

In [40]:
df["numbers"]=pd.to_numeric(df["numbers"])
print(df)

TypeError: ignored

In [ ]:
pip install

3. Missing Data
Many datasets have missing data. In our example, we are missing an
element.
Many approaches have been developed to deal with missing data,
1. # drop all rows containing a missing observation
2. # fill the missing values with a specific value(with any related value)
3. # use the _next_ valid observation to fill the missing data
4. # use the _previous_ valid observation to fill missing data

In [ ]:
df.drop